.outer{
    display: flex;
    gap: 10px;
    flex-shrink: 0;
}
.top{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:10px;
}
h2{
    margin: 15px;
}
img{
    margin-left: 20px;
}
ul{
    margin: 10px;
}
li::marker{
    color: darkkhaki;
    font-size:x-large;
}